@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


body{
    font-family: "New Tegomin", serif !important;
}

/******************************* Nav Link *******************************/
nav a.nav-link{
    font-weight: 500;
    letter-spacing: 0.0375rem;
    cursor: pointer;
};

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.45rem;
    margin-left: 0.45rem;
    color : #fff !important;
    border-top: 0.1875rem solid rgba(255, 255, 255,0);
} 
.navbar-nav > li > a:focus{
    border-top: 0.08rem solid ghostwhite;
} 
.navbar-nav > li > a:hover{
    color: aquamarine !important;
} 
.div2{
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header-wraper{
    position : relative;

}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top : 15%;
    bottom: 0;
    left: 0;
    right: 0;
}



.typed-text{
    font-size:  3rem;
    color: rgb(105, 110, 109);
    
}

.tsparticles-canvas-el{
    position: absolute;
    height: 100vw;
    width: 100vw;
    z-index: 1;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top : 20%;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
}
