@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


body{
    font-family: "New Tegomin", serif !important;
}

/******************************* Nav Link *******************************/
nav a.nav-link{
    font-weight: 500;
    letter-spacing: 0.0375rem;
    cursor: pointer;
};

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    /* margin-right: 0.75rem;
    margin-left: 0.75rem; */
        color : #fff !important;
} 
.navbar-nav > li > a.active , .navbar-nav > li > a.active:focus{
    border-top: 0.1875rem solid ghostwhite;
} 